.mainForm{ 
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        color: inherit;  
    }
}
.mainForm1{
    padding: 30px;
    background-color: #efefef;
    width: 500px;
    height: 250px;
    border-radius: 5px;
}
.mainInputField{
    display: flex;
    flex-direction: column;
    gap: 20px;
    label{
        color: red;
        font-size: 12px;
        display: flex;
        gap: 5px;
    }
}
.mainForm1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    button{
        padding: 10px 50px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
    }
}
.inputField{
    height: 30px;
    width: 300px;
 
    border: none;
    padding: 0 10px;
}
